.fade-enter {
    opacity: 0;
    transform: translate(0, 20px);
}

.fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}