.home-page-wrapper {
    min-height: 100dvh;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.home-page-content {
    min-height: 100%;
}

.heading {
    margin-top: 23dvh;
}

.heading h1 {
    font-weight: 600;
    font-size: 80px;
    padding-bottom: 10px;
    font-family: var(--secondary-font);
}

.heading-line-1 {
    /* ------- Gradient Header Style ------- */
    background: var(--header-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* --------------------- */
}

.heading-line-2 {
    background-image: linear-gradient(to right,
            #462523 0,
            #a76d17 22%,
            #ffed91 45%,
            #f9dc5b 50%,
            #fce573 55%,
            #af741b 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.subheading {
    margin-top: 5dvh;
    color: var(--text-tertiary);
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    font-family: var(--secondary-font);
    width: 80%;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .heading {
        margin-top: 5dvh;
    }

    .heading h1 {
        font-size: xx-large;
    }

    .subheading h4 {
        font-size: small;
    }
}