.transcribe-page-wrapper {
    min-height: 100dvh;
    background-color: var(--surface-srcondary);
}

.transcribe-page-content {
    min-height: 100dvh;
    width: 65%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-primary);
    font-family: var(--secondary-font);
    background-color: var(--surface-srcondary);
    flex: 1;
}

.transcribe-heading {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    font-weight: 200;
    font-family: var(--tertiary-font);
}

@media (max-width : 680px) {
    .transcribe-heading {
        margin-bottom: 30px;
        font-size: x-large;
    }
    
    header .logo-area {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2dvh;
        margin-bottom: 2dvh;
    }
}

@media (max-width : 450px) {  
    .transcribe-heading {
        font-size: large;
    }
}