.heading-button-area {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.heading-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: auto;
    font-weight: bolder;
    font-family: var(--text-secondary) !important;
    background-color: var(--surface-secondary);
    color: var(--text-primary);
    border: none;
    margin-bottom: 10px;
}

.heading-button:hover {
    background-color: var(--surface-tertiary);
    color: var(--text-primary);
}

.heading-button:active {
    background-color: var(--surface-secondary) !important;
}