.tag-area {
    margin: 10px;
    font-size: x-large;
    vertical-align: center;
    background-color: transparent;
    justify-content: space-evenly;
}

.tag-element {
    width: auto;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;
    font-size: x-large;
    font-weight: 300;
    background-color: #212529 !important;
    vertical-align: middle;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
}

.tag-element button {
    width: auto;
    font-weight: 300;
    margin: auto;
}

.input-group {
    margin-bottom: 1%;
    padding-right: 0px;
}

.delete-button-area {
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
}

.delete-button {
    font-size: small;
    height: 100%;
    width: auto;
    max-height: 72px;
    min-width: 100px;
    display: inline-block;
}
