.tag-area {
    margin: 10px;
    font-size: x-large;
    vertical-align: center;
    background-color: transparent;
    justify-content: space-evenly;
}

.tag-element {
    width: auto;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;
    font-size: x-large;
    font-weight: 300;
    background-color: #212529 !important;
    vertical-align: middle;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
}

.tag-element button {
    width: auto;
    font-weight: 300;
    margin: auto;
}

.delete-button-area {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.delete-button {
    width: 14%;
    min-width: 100px;
    min-height: 40px;
    margin-left: 4%;
    margin-right: 4%;
    padding: auto;
    display: inline-block;
    position: absolute;
    text-overflow: ellipsis;
}
