.loginSelectorPosition {
    position: absolute;
    display: inline-block;
    width: auto;
    margin-left: 25%;
    /* margin-top: -2%; */
}

.login-buttons {
    width: auto;
}

.login-button {
    width: auto;
    margin-right: 1dvw;
    display: inline-block;
}

@media screen and (max-width: 900px) {
    .loginSelectorPosition {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}