@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	/* ------- colors ------- */
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-500);
  --surface-primary: var(--gray-900);
  --surface-secondary: var(--gray-800);
  --surface-tertiary: var(--gray-700);
  --border-light: var(--gray-700);
  --border-medium: var(--gray-600);
  --border-heavy: var(--gray-500);
	--link-color: #14b8a6;
  --white: #fff;
  --black: #000;
  --gray-50: #f7f7f8;
  --gray-100: #ececf1;
  --gray-200: #d9d9e3;
  --gray-300: #c5c5d2;
  --gray-400: #acacbe;
  --gray-500: #8e8ea0;
  --gray-600: #565869;
  --gray-700: #40414f;
  --gray-800: #343541;
  --gray-900: #202123;
  --gray-950: #050509;
  --gizmo-gray-500: #999;
  --gizmo-gray-600: #666;
  --gizmo-gray-950: #0f0f0f;
	/* ---------------------- */

	/* ------- fonts ------- */
  --primary-font: "Heebo", sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
	/* --------------------- */
}

.App {
  text-align: center;
  width: 100%;
  background-color: var(--gray-800);
  font-family: var(--secondary-font);
}
